#############
## Discord ##
#############

DISCORD_CLIENT_ID=
DISCORD_CLIENT_PUBLIC_KEY=
DISCORD_CLIENT_TOKEN=
GUILD_ID=

###########
## Roles ##
###########

BETA_ROLE=
AUTH_TOKEN=
PLUS_ROLE=
MANAGER_ROLE=
MOD_ROLE=

################
### Database ###
################

DB_URL=file://
